# The Cottage★ Main Bot / Console Bot
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
STATUS_CHANNEL_ID=

MC_SERVER_IP=the-cottage-c1-s5.play.hosting
MC_SERVER_PORT=25565
MC_SERVER_VERSION=1.21.11
MC_USERNAME=Anonymous
MC_PASSWORD=
MC_AUTH=offline

RECONNECT_INITIAL_DELAY_MS=60000
RECONNECT_MAX_DELAY_MS=300000

GEMINI_API_KEY=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_MODEL=gemini-3.6-flash
